<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eastthree.mapper.LeaveMapper" >
    <insert id="addLeave">
        insert into leaveapplication (studentId, courseId, reason, leavePlace, appealBeginTime, appealEndTime, status,leaveCourseName)
        values (#{studentId},#{courseId},#{reason},#{leavePlace},#{appealBeginTime},#{appealEndTime},#{status},#{leaveCourseName})
    </insert>
    <select id="getByStudentId" resultType="com.eastthree.pojo.LeaveApplication">
        select * from leaveapplication where studentId=#{studentId}
    </select>
    <select id="getByCourseId" resultType="com.eastthree.pojo.LeaveApplication">
        select * from leaveapplication where courseId=#{courseId}
    </select>
    <select id="getById" resultType="com.eastthree.pojo.LeaveApplication">
        select * from leaveapplication where Id=#{leaveId}
    </select>
    <update id="updateLeaveStatus">
        update leaveapplication set status=#{status} where id=#{leaveId};
    </update>
</mapper>